@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

@font-face {
  font-family: zelda;
  src: url('../fonts/HyliaSerifBeta-Regular.otf') format('opentype');
}



.container {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 228, 196, 0.8);
  text-align: justify;
  border: 2px;
  border-radius: 10px;
  border-style: inset;
  border-color: chocolate;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  max-width: 1200px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 228, 196, 0.8);

    text-align: justify;

    border: 2px;
    border-radius: 10px;
    border-style: inset;
    border-color: chocolate;
    padding: 2%;

    margin-left: auto;
    margin-right: auto;
    min-width: 280px;
    max-width: 1200px;
  }
}

.character-info {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: center;

}

.estilobloco {
  display: flex;
  flex-direction: column;
  background-color: rgba(241, 236, 229, 0.5);
  border: 2px;
  border-radius: 10px;
  border-style: inset;
  border-color: chocolate;
  padding: 1%;
  min-width: 280px;
  max-width: 1200px;
  background-image: url(../Files/parchment.png);
  background-repeat: no-repeat;
  background-position: center;

}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(228, 169, 121, 0.582);
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  max-width: 1200px;
  border: 2px;
  border-radius: 10px;
  border-style: inset;
  border-color: chocolate;
}

iframe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgb(210, 105, 30);
  min-width: 280px;
  max-width: 1200px;
  border: 2px;
  border-radius: 10px;
  border-style: inset;
  border-color: chocolate;
}


p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.estilobloco p {
  font-size: medium;
  align-self: center;
  margin: 10px;
  text-indent: 20px;
  min-width: 280px;
  max-width: 1200px;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 60px;
  font-family: 'zelda', sans-serif;
}


.configButton {
  display: grid;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  padding-top: 20px;
}

.buttonContainer {
  position: relative;
  padding: 40px;
}

.center {
  width: 180px;
  height: 60px;
  position: relative;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: rgb(210, 105, 30);
  border-radius: 10px;
  border-style: inset;
  border-color: chocolate;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
 
  
}

.btn:hover {
  transition: 1s ease-in-out;
  background: rgb(255, 255, 255);
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 100;
}