

.container {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 228, 196, 0.8);

  text-align: justify;

  border-radius: 20px;
  padding: 2%;

  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  max-width: 1200px;


}

@media (max-width: 768px){
 .container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 228, 196, 0.8);

  text-align: justify;

  border-radius: 20px;
  padding: 2%;

  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  max-width: 1200px;
 }
}

.character-info {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: center;
}

.estilobloco {
  display: flex;
  flex-direction: column;
  background-color: rgba(241, 236, 229, 0.5);
  border-radius: 10px;
 
  padding: 1%;
  min-width: 280px;
  max-width: 1200px;

}

footer {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  background-color: rgba(228, 169, 121, 0.582);
  border: 10px;
  border-radius: 20px;

  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 280px;
  max-width: 1200px;
}

iframe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: chocolate;
  min-width: 280px;
  max-width: 1200px;

}

p {
  font-size: medium;
  align-self: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-width: 280px;
  max-width: 1200px;
  text-indent: 20px;

}

h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.wrapper {
  position: fixed;
  bottom: 26%;
  left: 27%;
  transform: translate(-50%, -50%);
}

.link_wrapper {
  position: relative;
}

a {
  display: flex;
  width: 230px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: rgb(119, 172, 167);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #ffffff;
  transition: all .35s;

}

.icon {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all .35s;
}

a:hover {
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

a:hover+.icon {
  border: 3px solid #2ecc71;
  right: -25%;
}